@import "tailwindcss";

/* index.css */

/* Define a classe para Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Deixa a barra fininha */
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent; /* Cor do polegar e do fundo */
}

/* Para Chrome, Edge, Safari e Opera */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Largura vertical */
  height: 6px; /* Altura horizontal (se houver) */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundo invisível */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15); /* Cor cinza/branca bem transparente */
  border-radius: 99px; /* Bordas totalmente redondas */
  border: 2px solid transparent; /* Truque para dar respiro se a barra for mais larga */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Fica mais visível quando passa o mouse */
}